:root {
    --font-size--card-title: 24px;
    --font-size--card-description: 16px;
    --font-size--hashtag: 16px;
    --font-size--section: 18px;
    --font-size--button: 18px;
    --primary-color: #2f80ed;
    --secondary-color: #4f4f4f;
    --black-color: #000;
    --white-color: #fff;
    --grey-color: #828282;
    --grey-light-color: #e0e0e0;
    --primary-font: "Monserrat", sans-serif;
}

/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background: #f2f2f2;
    /* background-color: bisque; */
}
.card-title {
    font-size: var(--font-size--card-title);
    font-weight: 500;
    line-height: normal;
    color: var(--secondary-color);
}

.card-description {
    font-size: var(--font-size--card-description);
    font-weight: 500;
    line-height: normal;
    color: var(--grey-color);
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 8px 9px -3px rgba(130, 130, 130, 0.84);
}

img {
    width: 100%;
}


/*  Contenedor  */
.contenedor {
    width: 95%;
    max-width: 1440px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.contenedor__aside {
    min-width: 370px;
}

/* Perfil */
.perfil__nombre {
    font-weight: 600;
    margin-top: 15px;
}

.perfil__cargo {
    margin-top: 5px;
    color: var(--color-gray);
}

.perfil__contenedor__email {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.perfil__contenedor__telefono {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.pefil__descripcion {
    margin-top: 25px;
    font-size: 18px;
    color: var(--color-gray);
}

/* Experiences */
.contenedor__experiences {
    margin-top: 40px;
}

.experiences__titulo {
    margin-bottom: 35px;
}

.experiences__cards__tarjeta {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px 0;
}

.tarjeta__contendor_informacion {
    padding-left: 10px;
}

.tarjeta__contenedor_informacion__fecha {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: var(--color-gray);
    margin-bottom: 10px;
}

.tarjeta__contenedor__informacion__rotulo {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: var(--color-negro);
    margin-bottom: 20px;
}

.tarjeta__contenedor__informacion__descripcion {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: var(--color-gray);
}

/* Hobbies */
.contenedor__hobbies {
    margin-top: 40px;
}

.hobbies__titulo {
    margin-bottom: 35px;
}

/* Progress Card */
.contenedor__progress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.contenedor__progress__skills:first-child {
    grid-row: 1 / span 2;
}

.skills__title {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.skills__listado {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skills__listado__item {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
}

.skills__listado__item__titulo {
    font-size: 16px;
}

.skills__listado__item__avance {
    width: 100%;
    height: 25px;
}

/* Section Titles */
.section__title {
    margin-top: 30px;
}

.section__title h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: var(--secondary-color);
}

/* Project list */
.contenedor__proyectos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proyecto__card {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 30px;
}

.proyecto__card__informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proyecto__card__hashtags {
    display: flex;
    gap: 5px;
    list-style: none;
}

.proyecto__card__buttons {
    display: flex;
    gap: 10px;
}

.proyecto__card__buttons button {
    padding: 8px 30px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 18px;
}

.proyecto__card__buttons .boton-activo {
    background-color: var(--primary-color);
    color: white;
}
/* Blogs list */
.contenedor__blog {
    margin-top: 20px;
}
.card__blog {
    display: grid;
    grid-template-columns: 45% 55%;
}
.card__blog__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__blog__text_p {
    font-size: 16px;
    color: var(--grey-color);
    font-weight: 500;
    line-height: normal;
}

.card__blog__tetx__firma {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
}

/* Footer */
.contenedor__footer p {
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    color: var(--grey-color);
}

.contenedor__footer p span {
    color: var(--black-color);
    font-weight: bold;
}

/* Responsive Desktop */
@media (max-width: 1260px) {
    .proyecto__card {
        grid-template-columns: 100%;
    }

    .proyecto__card__contenedor__informacion {
        gap: 20px;
    }

    .card__blog {
        grid-template-columns: 100%;
        gap: 20px;
    }

    .card__blog__text {
        gap: 20px;
    }

    .proyecto__card__contenedor__imagen {
        max-width: 400px;
    }
}

@media (max-width: 1100px) {
    .contenedor__progress {
        grid-template-columns: 1fr;
    }

    .contenedor__main {
        max-width: 600px;
    }
}

/* Responsive Tablet */
@media (max-width: 1000px) {
    .contenedor__progress {
        grid-template-columns: 1fr;
    }

    .contenedor {
        grid-template-columns: 1fr 1fr;
    }
}

/* Responsive Movil */
@media (max-width: 780px) {
    .contenedor {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}